# Added by OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
# This won't be added again if you remove it.
Include ~/.orbstack/ssh/config

Host *
  AddKeysToAgent yes
  UseKeychain yes

# Host *
#   Include ~/.ssh/foxnet-aliases.conf

# proxmox
Host proxmox
  Hostname 192.168.0.69
  User root
  ForwardAgent yes


# foxnet -> foxnet-control.steamos.cloud
Host foxnet
  User weld
  HostName foxnet-control.steamos.cloud
  ForwardAgent yes

# callisto generic
Host callisto*
  User deck
  ProxyJump foxnet
  ForwardAgent yes

# amos generic
Host amos*
  User steamvr
  ProxyJump foxnet
  ForwardAgent yes

# fremont generic
Host fremont*
  User deck
  ProxyJump foxnet
  ForwardAgent yes
